PORT=
DATABASE_URL=
STORAGE_PROVIDER=cloudflare
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_ACCESS_KEY_ID=""
CLOUDFLARE_SECRET_ACCESS_KEY=""
CLOUDFLARE_BUCKET=""
CLOUDFLARE_PUBLIC_URL=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_S3_BUCKET=""
AWS_CDN_URL=""
AWS_ENDPOINT=""
FRONTEND_URL="http://localhost:5173"